body, html
{
    font-family: Arial, sans serif;
}
.exercise-box
{
    font-family      : "Courier New", serif;
    background-color : #DDDDDD;
    padding          : 10px;
    border           : 2px solid;
    border-radius    : 25px;
    margin-bottom    : 10px;
    padding-right    : 50px;
}
.exercise-box h3, .exercise-box h2
{
    margin: 0;
}
hr
{
    border-top: 1px solid #000;
    margin: 0 0 5px 0;
}
a.fadeOut
{
    padding          : 10px;
    font-size        : 20px;
    font-weight      : bold;
    border           : 2px solid;
    border-radius    : 25px;
    text-decoration  : none;
    font-family      : Arial, sans serif;
    float            : right;
    text-transform   : uppercase;
    background-color : #F00;
    color            : #FFF;
    margin-right     : -40px;
}
#first_div
{
    background-color: #f00;
}
#first_span
{
    background-color: #0f0;
}
#second_span
{
    background-color: #00f;
}